@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-hind: "Hind Madurai", sans-serif;
    --font-inter: "Inter", sans-serif;
    
}

.box-shadow{
    box-shadow:  2px 3px 0 rgba(0, 0, 0, 0.15);
}

